html, body {
  height: 100%;
  width: 100%;
  background:#c2be99;
  font-size: 15pt;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
html, h1{
  font-size: 22pt;
  font-family: Arial, Helvetica, sans-serif;
  color:#000000
}
html, h2{
  font-size: 18pt;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding-top: 20pt;
  color: #000000;
}
html, h3{
  font-size: 18pt;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding-top: 20pt;
  color: #000000;
}
html, h4{
  font-size: 18pt;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding-top: 20pt;
  color: #000000;
}
html, h5{
  font-size: 18pt;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding-top: 20pt;
  color: #000000;
}
  <style type="text/css">
.centerImage
{
 text-align:center;
 display:block;
}
</style>